/* Адаптив под разные устройства */

@media (max-width: 1200px) {
   .header {
      height: 10.5rem;
      &__search {
         margin-left: 5rem;
      }
   }
   .hero {
      margin-bottom: $spacing-mb-xl;
   }
   .tea {
      margin-bottom: $spacing-mb-xl;
      &__title {
         margin-bottom: $spacing-mb-xl;
      }
      &__group-title {
         margin-bottom: 3rem;
      }
      &__list {
         gap: 0;
      }
      &__item {
         flex-shrink: 0;
         margin-left: -2rem;
         margin-right: -2rem;
      }
      &__name {
         line-height: 1.2;
      }
   }
   .reviews {
      margin-bottom: $spacing-mb-xl;
      &__list {
         justify-content: space-around;
         padding: 0 3.4rem;
      }
      &__item:last-child {
         display: none;
      }
   }
   .blog {
      margin-bottom: $spacing-mb-xl;
      &__image {
         max-width: 23rem;
      }
      &__cards {
         gap: 6.7rem 2rem;
      }
      &__card {
         max-width: 46rem;
         height: 15.3rem;
      }
   }

   .subscribe-content {
      // display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 6rem 0;
      gap: 0rem;
   }
   .subscribe {
      margin-bottom: $spacing-mb-xl;
      &__title {
         margin-bottom: 7rem;
         margin-right: 0rem;
      }
      &__text {
         max-width: 78rem;
         margin-bottom: $spacing-mb-sm;
      }
      &__form {
         max-width: 58rem;
         text-align: start;
      }
   }
   .form {
      &__input {
         margin-bottom: 15px;
         width: 100%;
      }
   }
   .priorities {
      margin-bottom: $spacing-mb-xl;
      &__items {
         flex-wrap: wrap;
         gap: 3rem 0rem; // 4rem по вертикали, 5.8rem по горизонтали
      }
      &__item {
         flex: 0 0 calc(50%);
      }
   }
   .footer {
      &__title {
         font-size: $font-size-sub;
      }
      &__quote p {
         margin-top: 0rem;
      }
   }
}

@media (max-width: 1000px) {
   .header {
      position: relative;
      padding: 0 6.4rem;
      &__burger {
         display: flex;
      }
      &__logo {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
      }
      &__nav {
         display: none; // скрываем меню
      }
      &__icons {
         margin-left: auto; // справа
      }
   }
   .tea {
      &__group-title {
         margin-bottom: 4rem;
      }
      &__list {
         margin: 0 auto;
         flex-wrap: wrap;
         max-width: 83.1rem;
         justify-content: space-evenly
      }
      &__item {
         flex-shrink: 0;
         margin-left: 0rem;
         margin-right: 0rem;
      }
   }
   .reviews {
      padding-bottom: 8.2rem;
      &__list {
         flex-wrap: wrap;
      }
      &__item {
         flex: 0 0 calc(50%);
      }
      &__item:last-child {
         display: block;
      }
   }
   .blog {
      &__cards {
         justify-content: center;
         gap: 3rem 2rem;
         
      }
      &__card {
         flex: 0 0 100%; 
         max-width: 54.2rem;
         &:nth-child(even) {
            transform: translateX(35px); // сдвигаем вправо чётные
         }
         &:nth-child(odd) {
            transform: translateX(-35px); // сдвигаем влево нечётные
         }
      }
   }
   .subscribe {
      padding: 6rem 6.4rem;
   }
   .subscribe-content {
      padding: 0rem 0;
   }
   .footer-content {
      padding-top: 5rem;
   }
   .footer {
      padding-bottom: 0;
      &__column:nth-child(4) {
         display: none;
      }
      &__column-four {
         display: block;
         margin-bottom: 5rem;
      }
      &__branding {
         margin-bottom: 2rem;
      }
      &__quote {
         margin-bottom: 5rem;
         line-height: 1.36;
      }
      &__copy {
         margin-bottom: 1rem;
      }
   }
   .mb-copy {
      margin-bottom: 28.0rem;
   }
   .mb-payments {
      margin-bottom: 19.6rem;
   }
   /* Burger-menu */
   .burger-menu:not(.burger-menu_close) {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      transform: translateX(50%); /* панель в видимой позиции */
   }
}

@media (max-width: 768px) {
   .container {
      padding: 0 1rem;
   }
   .header {
      padding: 1rem 1rem;
      margin: 0 0;
      height: 76px;
      &__logo {
         max-height: 56px;
         max-width: 39px;
      }
   }
   .hero {
      padding-top: 27.6rem;
      margin-bottom: $spacing-mb-sm;
      &__text {
         // padding: 0;
      }
      &__title {
         font-size: $font-size-title;
         font-weight: 400;
      }
      &__subtitle {
         font-weight: 300;
      }
   }
   .tea {
      margin-bottom: $spacing-mb-sm;
      &__title {
         font-size: 1.6rem;
         max-width: 37.2rem;
         font-weight: 300;
         font-family: $font-body;
         line-height: 1.4;
         margin-bottom: 6rem;
      }
      &__group-title {
         margin-bottom: 3rem;
      }
   }
   .reviews {
      padding: 5rem 0;
      margin-bottom: $spacing-mb-sm;
      &__list {
         padding: 0 0;
         gap: 3rem 2rem;
      }
      &__item {
         max-width: 22rem;
      }
   }
   .blog {
      margin-bottom: $spacing-mb-sm;
      &__card {
         &:nth-child(even) {
            transform: none;
         }
         &:nth-child(odd) {
            transform: none;
         }
      }
   }
   .subscribe {
      margin-bottom: $spacing-mb-sm ;
      background: $color-bg;
      padding: 5rem 0;
      &__title {
         margin-bottom: 3rem;
      }
      &__desc {
         font-size: 1.3rem;
      }
      &__text {
         margin-bottom: 3rem;
      }
   }
   .form {
      &__input {
         // width: 32rem;
      }
   }
   .priorities {
      margin-bottom: $spacing-mb-sm;
      &__title {
         margin-bottom: 3rem;
      }
      &__items {
         // flex-wrap: wrap;
         gap: 5rem 0; // 4rem по вертикали, 5.8rem по горизонтали
      }
      &__item {
         flex: 0 0 100%;
      }
   }
   .footer {
      padding-top: 5rem;
   }
}



@media (max-width: 610px) {
   .footer {
      padding-bottom: 1rem;
      &__column:nth-child(2) {
         margin-right: 8.5rem;
      }
      &__copy {
         display: none;
      }
      &__payments {
         display: none;
      }
      &__quote {
         max-width: 100%;
      }
      &__quote p {
         margin-bottom: 1rem;
      }
      &__quote-author {
         max-width: 100%;
      }
      &__title {
         margin-bottom: 2rem;
      }
      &__socials {
         transform: translateY(-55px);
      }
      &__branding {
         margin-bottom: 0;
      }
      &__message {
         margin-bottom: 1rem;
      }
      &__column-four {
         margin-bottom: 3rem;
         text-align: center;
      }
      &__text {
         margin: 0 auto;
         max-width: 100%;
         margin-bottom: 2rem;
      }
      &__copy-payments-bottom {
         display: flex;
         justify-content: space-between;
         padding: 0 1rem;
      }
   }
   .footer-content {
      flex-wrap: wrap;
   }
   .mb-copy {
      margin-bottom: 0rem;
   }
   .mb-payments {
      margin-bottom: 5rem;
   }
}

@media (max-width: 480px) {
   .header {
      &__icons {
         margin-right: -3rem; // справа
      }
   }
   .hero {
      margin-bottom: $spacing-mb-md;
      padding-top: 23.3rem;
      max-height: 36.7rem;
      &__title{
         font-size: $font-size-sub;
         font-weight: 300;
         width: 100%;
      }
      &__subtitle {
         font-size: 1.3rem;
         font-family: $font-body;
         font-weight: 300;
      }
   }
   .tea {
      &__group-title {
         font-size: $font-size-sub;
         margin-bottom: 0;
      }
   }
   .reviews {
      margin-bottom: $spacing-mb-xs;
      &__title {
         font-size: $font-size-sub;
         margin-bottom: 3rem;
      }
      &__item {
         max-width: 100%;
         flex: 1 1 100%;
      }
      &__item:nth-child(3),
      &__item:nth-child(4) {
         display: none;
      }
   }
   .blog {
      margin-bottom: 5rem;
      &__title {
         font-size: $font-size-sub;
         margin-bottom: 3rem;
      }
      &__cards {
         margin-bottom: 3rem;
      }
      &__card {
         height: 100%;
         max-width: 27rem;
         flex-direction: column;
         &:nth-child(3),
         &:nth-child(4) {
            display: none;
         } 
      }
      &__image {
         padding-right: 0;
         max-width: 100%;
         height: 100%;
         margin-bottom: 10px;
      }
      &__topic {
         margin-bottom: 5px;
         // line-height: 1.26;
         line-height: 125%;
         // 
      }
      &__author {
         margin-bottom: 10px;
      }
   }
   .subscribe {
      margin-bottom: 5rem;
      &__title {
         font-size: $font-size-sub;
      }
      &__desc {
         line-height: 1.4;
      }
   }

   .priorities {
      margin-bottom: 5rem;
      &__title {
         font-size: $font-size-sub;
      }
      &__subtitle {
         font-size: $font-size-sub;
      }
      &__text {
         font-size: 1rem;
         margin-bottom: 1.6rem;
      }
   }
   .footer {
      &__column:nth-child(2) {
         margin-right: 6.5rem;
      }
      &__column:nth-child(1) {
         padding-right: 5rem;
      }
      &__column:nth-child(3) .footer__title {
         margin-bottom: 1rem;
      }
      &__quote {
         margin-bottom: 4rem;
      }
      &__text {
         margin-bottom: 1rem;
      }
      &__branding {
         margin-bottom: 4rem;
      }
      &__socials {
         transform: none;
         justify-content: center;
      }
   }
   .footer__column-four {
      margin-bottom: 5rem;
   }
}

@media (max-width: 436px) {
   .tea {
      margin-bottom: $spacing-mb-lg;
      &__item {
         margin-left: -5%;
         margin-right: -5%;
      }
      &__item img {
         width: 180px;
      }
   }
   .footer {
      &__column:nth-child(2) {
         margin-right: 2.5rem;
      }
      &__column:nth-child(1) {
         padding-right: 5rem;
      }
   }
}

@media (max-height: 787px) {
   .burger-menu {
      padding-top: 2rem;
      &__tea {
         margin-bottom: 2rem;
         &:last-child {
            margin-bottom: 2rem;
         }
      }
      &__list-tea {
         margin-bottom: 2rem;
         font-size: 2rem;
      }
      &__list {
         margin-bottom: 0;
      }
      &__item {
         margin-bottom: 2rem;
      }
   }
}

