// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600,700,300italic&display=swap');




@import url('https://fonts.googleapis.com/css?family=Cormorant:regular&display=swap');

// Шрифт для лого (если нужно именно текст, а не svg)
// @import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC:regular&display=swap');

/* Обнуление отступов и границ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Удаление стандартного шрифта и выравнивание */
html,
body {
   overflow-x: hidden;
   font-size: 62.5%; // 1rem = 10px
   color: $color-dark;
   font-family: $font-body;
   // height: 100%;
   width: 100%;
   line-height: 1.2;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   // text-rendering: optimizeLegibility;
}


/* Удаление стандартного оформления списков */
ul,
ol,
li {
   list-style: none;
}

/* Удаление оформления ссылок */
a,
a:visited {
   text-decoration: none;
   color: inherit;
}
a:hover {
   text-decoration: none;
   // color: inherit;
}

// Удаление стилей заголовков
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

/* Удаление рамок у изображений и таблиц */
// или так или так

// img {
//    vertical-align: top;
// }

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
   height: auto;
}

/* Удаление border у форм */
input,
button,
textarea,
select {
   font: inherit;
   border: none;
   outline: none;
   background: none;
}

/* Наследование цвета текста */
button {
   color: inherit;
   cursor: pointer;
}

/* Таблицы без отступов */
table {
   border-collapse: collapse;
   border-spacing: 0;
}