
// Переменные можно добавить здесь

// Базовые размеры
$base-font-size: 10px; // для удобного расчета rem
$container-width: 120rem; // 1200px
$gap: 2rem; // 20px
$header-height: 14.2rem; // 142px
$header-bg: #fff;

// Шрифты
$font-body: 'Open Sans', sans-serif;
$font-second: 'Cormorant', serif;
$font-third: 'IM FELL Great Primer SC', serif;

// Размеры шрифтов
$font-size-title: 4rem;
$font-size-sub: 2.4rem;

// Отступы 
$spacing-title-sub: 6rem;

$spacing-mb-big: 15rem;
$spacing-mb-xl: 12rem;
$spacing-mb-lg: 8rem;
$spacing-mb-md: 7rem;
$spacing-mb-sm: 6rem;
$spacing-mb-xs: 5rem;

// Цвета
$color-text: #000;
$color-hover: #007bff;

$color-dark: #151618;
$color-brown: #754E29;
$color-white: #FFFFFF;
$color-beige: #F7F2EA;
$color-light-brown: #B8B58B;

$color-bg: #F7F2EA;


